@charset "UTF-8";
:root {
  --red: crimson;
  --darkerRed: #C30023;
  --darkViolet: #6331a0;
  --violet: #9667d0;
  --extraLightViolet: #e7dcf4;
  --electricBlue: #0a8abd;
  --extraLightElectricBlue: #69cff7;
  --darkElectricBlue: #05435c;
  --skyBlue: #00A4EF;
  --yellow: #FFB900;
  --lightGray: #7b7b7b;
  --extraLightGray: #cccccc
; }

/*
 * Highlight images missing alt text!
 * Inspired from @addyosmani's tweet here:
 * https://twitter.com/addyosmani/status/1223872295619330048
 */
img:not([alt]) {
  border: 2px solid var(--red); }

.no-spacing {
  margin: 0;
  padding: 0; }

@keyframes slide-down {
  from {
    transform: translateY(-200%); }
  to {
    transform: translateY(0); } }

@keyframes slide-up {
  from {
    transform: translateY(0); }
  to {
    transform: translateY(-200%); } }

* {
  box-sizing: border-box; }

@media (min-width: 50em) {
  @font-face {
    font-family: 'PT Sans';
    src: local("PT Sans"), local("PTSans-Regular"), url("../fonts/PTSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal; }
  @font-face {
    font-family: 'PT Sans';
    src: local("PT Sans Bold"), local("PTSans-Bold"), url("../fonts/PTSans-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal; } }

html[data-color-mode="dark"] {
  background: #1c1d22;
  color: #ffffff;
  /* Background */
  /* Other */
  /* Error */
  /* LineTableTD */
  /* LineTable */
  /* LineHighlight */
  /* LineNumbersTable */
  /* LineNumbers */
  /* Keyword */
  /* KeywordConstant */
  /* KeywordDeclaration */
  /* KeywordNamespace */
  /* KeywordPseudo */
  /* KeywordReserved */
  /* KeywordType */
  /* Name */
  /* NameAttribute */
  /* NameBuiltin */
  /* NameBuiltinPseudo */
  /* NameClass */
  /* NameConstant */
  /* NameDecorator */
  /* NameEntity */
  /* NameException */
  /* NameFunction */
  /* NameFunctionMagic */
  /* NameLabel */
  /* NameNamespace */
  /* NameOther */
  /* NameProperty */
  /* NameTag */
  /* NameVariable */
  /* NameVariableClass */
  /* NameVariableGlobal */
  /* NameVariableInstance */
  /* NameVariableMagic */
  /* Literal */
  /* LiteralDate */
  /* LiteralString */
  /* LiteralStringAffix */
  /* LiteralStringBacktick */
  /* LiteralStringChar */
  /* LiteralStringDelimiter */
  /* LiteralStringDoc */
  /* LiteralStringDouble */
  /* LiteralStringEscape */
  /* LiteralStringHeredoc */
  /* LiteralStringInterpol */
  /* LiteralStringOther */
  /* LiteralStringRegex */
  /* LiteralStringSingle */
  /* LiteralStringSymbol */
  /* LiteralNumber */
  /* LiteralNumberBin */
  /* LiteralNumberFloat */
  /* LiteralNumberHex */
  /* LiteralNumberInteger */
  /* LiteralNumberIntegerLong */
  /* LiteralNumberOct */
  /* Operator */
  /* OperatorWord */
  /* Punctuation */
  /* Comment */
  /* CommentHashbang */
  /* CommentMultiline */
  /* CommentSingle */
  /* CommentSpecial */
  /* CommentPreproc */
  /* CommentPreprocFile */
  /* Generic */
  /* GenericDeleted */
  /* GenericEmph */
  /* GenericError */
  /* GenericHeading */
  /* GenericInserted */
  /* GenericOutput */
  /* GenericPrompt */
  /* GenericStrong */
  /* GenericSubheading */
  /* GenericTraceback */
  /* GenericUnderline */
  /* TextWhitespace */ }
  html[data-color-mode="dark"] .chroma {
    color: #f8f8f2;
    /*background-color: #272822;*/
    background-color: rgba(142, 142, 145, 0.12); }
  html[data-color-mode="dark"] .chroma .err {
    color: #960050;
    background-color: #1e0010; }
  html[data-color-mode="dark"] .chroma .lntd {
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: 0; }
  html[data-color-mode="dark"] .chroma .lntable {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: 0;
    width: auto;
    overflow: auto;
    display: block; }
  html[data-color-mode="dark"] .chroma .hl {
    display: block;
    width: 100%;
    background-color: #ffffcc; }
  html[data-color-mode="dark"] .chroma .lnt {
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: #7f7f7f; }
  html[data-color-mode="dark"] .chroma .ln {
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: #7f7f7f; }
  html[data-color-mode="dark"] .chroma .k {
    color: #66d9ef; }
  html[data-color-mode="dark"] .chroma .kc {
    color: #66d9ef; }
  html[data-color-mode="dark"] .chroma .kd {
    color: #66d9ef; }
  html[data-color-mode="dark"] .chroma .kn {
    color: #f92672; }
  html[data-color-mode="dark"] .chroma .kp {
    color: #66d9ef; }
  html[data-color-mode="dark"] .chroma .kr {
    color: #66d9ef; }
  html[data-color-mode="dark"] .chroma .kt {
    color: #66d9ef; }
  html[data-color-mode="dark"] .chroma .na {
    color: #a6e22e; }
  html[data-color-mode="dark"] .chroma .nc {
    color: #a6e22e; }
  html[data-color-mode="dark"] .chroma .no {
    color: #66d9ef; }
  html[data-color-mode="dark"] .chroma .nd {
    color: #a6e22e; }
  html[data-color-mode="dark"] .chroma .ne {
    color: #a6e22e; }
  html[data-color-mode="dark"] .chroma .nf {
    color: #a6e22e; }
  html[data-color-mode="dark"] .chroma .nx {
    color: #a6e22e; }
  html[data-color-mode="dark"] .chroma .nt {
    color: #f92672; }
  html[data-color-mode="dark"] .chroma .l {
    color: #ae81ff; }
  html[data-color-mode="dark"] .chroma .ld {
    color: #e6db74; }
  html[data-color-mode="dark"] .chroma .s {
    color: #e6db74; }
  html[data-color-mode="dark"] .chroma .sa {
    color: #e6db74; }
  html[data-color-mode="dark"] .chroma .sb {
    color: #e6db74; }
  html[data-color-mode="dark"] .chroma .sc {
    color: #e6db74; }
  html[data-color-mode="dark"] .chroma .dl {
    color: #e6db74; }
  html[data-color-mode="dark"] .chroma .sd {
    color: #e6db74; }
  html[data-color-mode="dark"] .chroma .s2 {
    color: #e6db74; }
  html[data-color-mode="dark"] .chroma .se {
    color: #ae81ff; }
  html[data-color-mode="dark"] .chroma .sh {
    color: #e6db74; }
  html[data-color-mode="dark"] .chroma .si {
    color: #e6db74; }
  html[data-color-mode="dark"] .chroma .sx {
    color: #e6db74; }
  html[data-color-mode="dark"] .chroma .sr {
    color: #e6db74; }
  html[data-color-mode="dark"] .chroma .s1 {
    color: #e6db74; }
  html[data-color-mode="dark"] .chroma .ss {
    color: #e6db74; }
  html[data-color-mode="dark"] .chroma .m {
    color: #ae81ff; }
  html[data-color-mode="dark"] .chroma .mb {
    color: #ae81ff; }
  html[data-color-mode="dark"] .chroma .mf {
    color: #ae81ff; }
  html[data-color-mode="dark"] .chroma .mh {
    color: #ae81ff; }
  html[data-color-mode="dark"] .chroma .mi {
    color: #ae81ff; }
  html[data-color-mode="dark"] .chroma .il {
    color: #ae81ff; }
  html[data-color-mode="dark"] .chroma .mo {
    color: #ae81ff; }
  html[data-color-mode="dark"] .chroma .o {
    color: #f92672; }
  html[data-color-mode="dark"] .chroma .ow {
    color: #f92672; }
  html[data-color-mode="dark"] .chroma .c {
    color: #75715e; }
  html[data-color-mode="dark"] .chroma .ch {
    color: #75715e; }
  html[data-color-mode="dark"] .chroma .cm {
    color: #75715e; }
  html[data-color-mode="dark"] .chroma .c1 {
    color: #75715e; }
  html[data-color-mode="dark"] .chroma .cs {
    color: #75715e; }
  html[data-color-mode="dark"] .chroma .cp {
    color: #75715e; }
  html[data-color-mode="dark"] .chroma .cpf {
    color: #75715e; }
  html[data-color-mode="dark"] .chroma .gd {
    color: #f92672; }
  html[data-color-mode="dark"] .chroma .ge {
    font-style: italic; }
  html[data-color-mode="dark"] .chroma .gi {
    color: #a6e22e; }
  html[data-color-mode="dark"] .chroma .gs {
    font-weight: bold; }
  html[data-color-mode="dark"] .chroma .gu {
    color: #75715e; }

html[data-color-mode="light"] {
  background: #ffffff;
  color: #1c1d22;
  /* Background */
  /* Other */
  /* Error */
  /* LineTableTD */
  /* LineTable */
  /* LineHighlight */
  /* LineNumbersTable */
  /* LineNumbers */
  /* Keyword */
  /* KeywordConstant */
  /* KeywordDeclaration */
  /* KeywordNamespace */
  /* KeywordPseudo */
  /* KeywordReserved */
  /* KeywordType */
  /* Name */
  /* NameAttribute */
  /* NameBuiltin */
  /* NameBuiltinPseudo */
  /* NameClass */
  /* NameConstant */
  /* NameDecorator */
  /* NameEntity */
  /* NameException */
  /* NameFunction */
  /* NameFunctionMagic */
  /* NameLabel */
  /* NameNamespace */
  /* NameOther */
  /* NameProperty */
  /* NameTag */
  /* NameVariable */
  /* NameVariableClass */
  /* NameVariableGlobal */
  /* NameVariableInstance */
  /* NameVariableMagic */
  /* Literal */
  /* LiteralDate */
  /* LiteralString */
  /* LiteralStringAffix */
  /* LiteralStringBacktick */
  /* LiteralStringChar */
  /* LiteralStringDelimiter */
  /* LiteralStringDoc */
  /* LiteralStringDouble */
  /* LiteralStringEscape */
  /* LiteralStringHeredoc */
  /* LiteralStringInterpol */
  /* LiteralStringOther */
  /* LiteralStringRegex */
  /* LiteralStringSingle */
  /* LiteralStringSymbol */
  /* LiteralNumber */
  /* LiteralNumberBin */
  /* LiteralNumberFloat */
  /* LiteralNumberHex */
  /* LiteralNumberInteger */
  /* LiteralNumberIntegerLong */
  /* LiteralNumberOct */
  /* Operator */
  /* OperatorWord */
  /* Punctuation */
  /* Comment */
  /* CommentHashbang */
  /* CommentMultiline */
  /* CommentSingle */
  /* CommentSpecial */
  /* CommentPreproc */
  /* CommentPreprocFile */
  /* Generic */
  /* GenericDeleted */
  /* GenericEmph */
  /* GenericError */
  /* GenericHeading */
  /* GenericInserted */
  /* GenericOutput */
  /* GenericPrompt */
  /* GenericStrong */
  /* GenericSubheading */
  /* GenericTraceback */
  /* GenericUnderline */
  /* TextWhitespace */ }
  html[data-color-mode="light"] .chroma {
    color: #272822;
    /*background-color: #fafafa;*/
    background-color: #f1f1f1; }
  html[data-color-mode="light"] .chroma .err {
    color: #960050;
    background-color: #1e0010; }
  html[data-color-mode="light"] .chroma .lntd {
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: 0; }
  html[data-color-mode="light"] .chroma .lntable {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: 0;
    width: auto;
    overflow: auto;
    display: block; }
  html[data-color-mode="light"] .chroma .hl {
    display: block;
    width: 100%;
    background-color: #ffffcc; }
  html[data-color-mode="light"] .chroma .lnt {
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: #7f7f7f; }
  html[data-color-mode="light"] .chroma .ln {
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: #7f7f7f; }
  html[data-color-mode="light"] .chroma .k {
    color: #00a8c8; }
  html[data-color-mode="light"] .chroma .kc {
    color: #00a8c8; }
  html[data-color-mode="light"] .chroma .kd {
    color: #00a8c8; }
  html[data-color-mode="light"] .chroma .kn {
    color: #f92672; }
  html[data-color-mode="light"] .chroma .kp {
    color: #00a8c8; }
  html[data-color-mode="light"] .chroma .kr {
    color: #00a8c8; }
  html[data-color-mode="light"] .chroma .kt {
    color: #00a8c8; }
  html[data-color-mode="light"] .chroma .n {
    color: #111111; }
  html[data-color-mode="light"] .chroma .na {
    color: #75af00; }
  html[data-color-mode="light"] .chroma .nb {
    color: #111111; }
  html[data-color-mode="light"] .chroma .bp {
    color: #111111; }
  html[data-color-mode="light"] .chroma .nc {
    color: #75af00; }
  html[data-color-mode="light"] .chroma .no {
    color: #00a8c8; }
  html[data-color-mode="light"] .chroma .nd {
    color: #75af00; }
  html[data-color-mode="light"] .chroma .ni {
    color: #111111; }
  html[data-color-mode="light"] .chroma .ne {
    color: #75af00; }
  html[data-color-mode="light"] .chroma .nf {
    color: #75af00; }
  html[data-color-mode="light"] .chroma .fm {
    color: #111111; }
  html[data-color-mode="light"] .chroma .nl {
    color: #111111; }
  html[data-color-mode="light"] .chroma .nn {
    color: #111111; }
  html[data-color-mode="light"] .chroma .nx {
    color: #75af00; }
  html[data-color-mode="light"] .chroma .py {
    color: #111111; }
  html[data-color-mode="light"] .chroma .nt {
    color: #f92672; }
  html[data-color-mode="light"] .chroma .nv {
    color: #111111; }
  html[data-color-mode="light"] .chroma .vc {
    color: #111111; }
  html[data-color-mode="light"] .chroma .vg {
    color: #111111; }
  html[data-color-mode="light"] .chroma .vi {
    color: #111111; }
  html[data-color-mode="light"] .chroma .vm {
    color: #111111; }
  html[data-color-mode="light"] .chroma .l {
    color: #ae81ff; }
  html[data-color-mode="light"] .chroma .ld {
    color: #d88200; }
  html[data-color-mode="light"] .chroma .s {
    color: #d88200; }
  html[data-color-mode="light"] .chroma .sa {
    color: #d88200; }
  html[data-color-mode="light"] .chroma .sb {
    color: #d88200; }
  html[data-color-mode="light"] .chroma .sc {
    color: #d88200; }
  html[data-color-mode="light"] .chroma .dl {
    color: #d88200; }
  html[data-color-mode="light"] .chroma .sd {
    color: #d88200; }
  html[data-color-mode="light"] .chroma .s2 {
    color: #d88200; }
  html[data-color-mode="light"] .chroma .se {
    color: #8045ff; }
  html[data-color-mode="light"] .chroma .sh {
    color: #d88200; }
  html[data-color-mode="light"] .chroma .si {
    color: #d88200; }
  html[data-color-mode="light"] .chroma .sx {
    color: #d88200; }
  html[data-color-mode="light"] .chroma .sr {
    color: #d88200; }
  html[data-color-mode="light"] .chroma .s1 {
    color: #d88200; }
  html[data-color-mode="light"] .chroma .ss {
    color: #d88200; }
  html[data-color-mode="light"] .chroma .m {
    color: #ae81ff; }
  html[data-color-mode="light"] .chroma .mb {
    color: #ae81ff; }
  html[data-color-mode="light"] .chroma .mf {
    color: #ae81ff; }
  html[data-color-mode="light"] .chroma .mh {
    color: #ae81ff; }
  html[data-color-mode="light"] .chroma .mi {
    color: #ae81ff; }
  html[data-color-mode="light"] .chroma .il {
    color: #ae81ff; }
  html[data-color-mode="light"] .chroma .mo {
    color: #ae81ff; }
  html[data-color-mode="light"] .chroma .o {
    color: #f92672; }
  html[data-color-mode="light"] .chroma .ow {
    color: #f92672; }
  html[data-color-mode="light"] .chroma .p {
    color: #111111; }
  html[data-color-mode="light"] .chroma .c {
    color: #75715e; }
  html[data-color-mode="light"] .chroma .ch {
    color: #75715e; }
  html[data-color-mode="light"] .chroma .cm {
    color: #75715e; }
  html[data-color-mode="light"] .chroma .c1 {
    color: #75715e; }
  html[data-color-mode="light"] .chroma .cs {
    color: #75715e; }
  html[data-color-mode="light"] .chroma .cp {
    color: #75715e; }
  html[data-color-mode="light"] .chroma .cpf {
    color: #75715e; }
  html[data-color-mode="light"] .chroma .ge {
    font-style: italic; }
  html[data-color-mode="light"] .chroma .gs {
    font-weight: bold; }

html {
  font-size: 16px; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 75rem;
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600; }

b, strong, th {
  font-weight: 600; }

a {
  color: inherit; }

article a {
  color: #68f; }

hr {
  border: 1px solid rgba(142, 142, 145, 0.3);
  margin: 2em 0; }

article:not(:last-child) {
  border-bottom: 1px solid rgba(142, 142, 145, 0.12); }

blockquote {
  background: rgba(142, 142, 145, 0.06);
  border-left: 3px solid rgba(142, 142, 145, 0.9);
  padding: 1px 1.5em;
  opacity: .75; }

blockquote, figure {
  margin: 1em 0; }

img, li {
  margin: .5em 0; }

img {
  border-radius: 2px;
  max-width: 100%;
  height: auto; }

table {
  width: 100%;
  border-spacing: 1px;
  box-shadow: 0 0 0 1px rgba(142, 142, 145, 0.12) inset; }

th, td {
  padding: .5em 1em;
  box-shadow: 0 0 0 1px rgba(142, 142, 145, 0.12); }

tr:hover, tr:nth-child(odd) td {
  background: rgba(142, 142, 145, 0.04); }

pre {
  background: rgba(142, 142, 145, 0.12);
  border-radius: 2px;
  font-size: .8em;
  margin: 1.5em 0;
  padding: .8em 1.2em;
  overflow-x: auto; }

:not(pre) > code {
  opacity: .85;
  margin: 0 .1em; }

article header {
  margin-bottom: 1.5em; }

article header h1 {
  font-size: 1.8em;
  margin: 0 0 .1em; }

nav {
  margin: .5em -.8em; }

nav a {
  margin: .5em .8em; }

.offset {
  padding: 1.5em; }

#site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(142, 142, 145, 0.16); }

.site-logo {
  font-size: 1.3em;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--skyBlue); }
  .site-logo:hover {
    color: var(--yellow); }
  .site-logo img {
    border: 2px solid currentColor;
    border-radius: 4px;
    margin: 0; }
  .site-logo span {
    margin-left: 1rem; }

.dl-mode-toggle {
  position: relative; }
  .dl-mode-toggle.transition-set .dl-mode-toggle-thumb,
  .dl-mode-toggle.transition-set .dl-mode-toggle-track,
  .dl-mode-toggle.transition-set .dl-mode-toggle-moon,
  .dl-mode-toggle.transition-set .dl-mode-toggle-sun {
    transition: all 0.3s cubic-bezier(0.4, 0.03, 0, 1) 0.05s; }

.dl-mode-toggle-track {
  width: 56px;
  height: 32px;
  border-radius: 32px;
  border: 3px solid #d1d5da;
  background-color: #fff; }

.dl-mode-toggle-thumb {
  position: absolute;
  top: -2px;
  left: -2px;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background-color: #F8F9FB;
  border: 2px solid #9EA2A7;
  cursor: pointer; }

.dl-mode-toggle-moon {
  opacity: 0; }

.dl-mode-toggle-sun {
  opacity: 1; }

[data-color-mode="dark"] .dl-mode-toggle-thumb {
  transform: translateX(23px); }

[data-color-mode="dark"] .dl-mode-toggle-thumb,
[data-color-mode="dark"] .dl-mode-toggle-track {
  background-color: #1c1d22; }

[data-color-mode="dark"] .dl-mode-toggle-sun {
  opacity: 0; }

[data-color-mode="dark"] .dl-mode-toggle-moon {
  opacity: 1; }

.display-block {
  display: block; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.archive li {
  font-size: 1.1em; }

.hidden {
  display: none; }

.no-overflow {
  overflow: hidden; }

.no-decor {
  text-decoration: none; }

.no-margin {
  margin: 0; }

.clearfix:after {
  content: '';
  display: table;
  clear: both; }

.no-list-style {
  list-style-type: none; }

[data-color-mode="light"] .posttag {
  color: #333; }
  [data-color-mode="light"] .posttag_link {
    background-color: white;
    border: 1px solid #eee; }

[data-color-mode="dark"] .posttag {
  color: rgba(255, 255, 255, 0.8); }
  [data-color-mode="dark"] .posttag_link {
    background-color: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.08); }

.posttag {
  display: inline-block;
  float: left;
  font-size: 0.875rem;
  line-height: 0; }
  .posttag:not(:last-of-type) {
    margin-right: 5px; }
  .posttag_icon {
    width: 15px;
    height: 15px;
    margin-right: 5px; }
  .posttag_link {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    padding: 4px 10px; }
  .posttag_title {
    margin-bottom: 1px; }

@media (min-width: 1280px) {
  #site-header {
    padding-left: 0px;
    padding-right: 0px; } }

@font-face {
  font-family: 'Ink Free';
  src: local("Ink Free"), url("https://res.cloudinary.com/oorkan/raw/upload/v1631061227/blog/fonts/general/inkfree_rfosjg.ttf"); }

.postlist {
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (min-width: 1280px) {
    .postlist {
      margin-left: -1.5rem;
      margin-right: -1.5rem; } }
  .postlist_wrap {
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 60px; }
    @media (min-width: 640px) {
      .postlist_wrap {
        grid-template-columns: repeat(2, 1fr); } }
    @media (min-width: 1024px) {
      .postlist_wrap {
        grid-template-columns: repeat(3, 1fr); } }
    @media (min-width: 1280px) {
      .postlist_wrap {
        grid-template-columns: repeat(4, 1fr); } }

.postcard {
  display: flex;
  flex-direction: column;
  border-color: rgba(0, 0, 0, 0.08);
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.02);
  overflow: hidden;
  max-width: calc((1200px - 90px) / 4); }
  .postcard_blurb {
    padding: 20px 20px 30px 20px;
    height: 100%; }
  .postcard_title {
    font-family: 'Ink Free';
    margin-bottom: 15px; }
    .postcard_title .heading {
      font-size: 24px;
      line-height: 1.2;
      position: relative; }
      .postcard_title .heading::before, .postcard_title .heading:after {
        content: '';
        display: block;
        height: 0;
        width: 0; }
      .postcard_title .heading:before {
        margin-top: calc((1 - 1.2) * 0.5em); }
      .postcard_title .heading::after {
        margin-bottom: calc((1 - 1.2) * 0.5em); }
  .postcard_date {
    font-size: 0.625rem;
    font-weight: 600;
    color: #64798A;
    margin-bottom: 15px; }
    .postcard_date time::before, .postcard_date time:after {
      content: '';
      display: block;
      height: 0;
      width: 0; }
    .postcard_date time:before {
      margin-top: calc((1 - 1.5) * 0.5em); }
    .postcard_date time::after {
      margin-bottom: calc((1 - 1.5) * 0.5em); }
  .postcard_description {
    color: #777; }
    .postcard_description p::before, .postcard_description p:after {
      content: '';
      display: block;
      height: 0;
      width: 0; }
    .postcard_description p:before {
      margin-top: calc((1 - 1.5) * 0.5em); }
    .postcard_description p::after {
      margin-bottom: calc((1 - 1.5) * 0.5em); }
  .postcard_image a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08); }
  .postcard_image img {
    margin: 0;
    display: block;
    height: 184px;
    width: 100%;
    object-fit: cover; }

[data-color-mode="dark"] .postcard {
  border-color: rgba(255, 255, 255, 0.08);
  background-color: rgba(255, 255, 255, 0.02); }
  [data-color-mode="dark"] .postcard_image a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.08); }
  [data-color-mode="dark"] .postcard_description {
    color: #999; }

.divider {
  width: 100%;
  font-size: 0;
  text-align: center;
  margin: 20px 0 30px 0; }
  .divider:after {
    content: '';
    display: inline-block;
    width: 32px;
    height: 2px;
    border-radius: 2px; }
  .divider-yellow:after {
    background-color: var(--yellow); }

[class^='btn-'] {
  display: block;
  font-size: 1em;
  color: currentColor;
  background-color: transparent;
  cursor: pointer;
  outline: 0;
  border-width: 1px;
  border-style: solid; }

.btn-share {
  border-color: var(--extraLightGray);
  border-radius: 4px;
  margin-top: 1rem;
  padding: 2px 8px; }
  .btn-share::before {
    content: '💾';
    margin-right: 4px;
    margin-left: -2px;
    font-size: .9em; }

.btn-share-on {
  white-space: nowrap;
  overflow: hidden;
  vertical-align: top;
  border-radius: 4px;
  border-color: transparent; }

.social-logo-twitter {
  background-color: #1DA1F2;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M25.449 8.293a8.18 8.18 0 0 1-2.607.98A4.143 4.143 0 0 0 19.847 8c-2.265 0-4.102 1.807-4.102 4.04 0 .313.036.627.105.92a11.72 11.72 0 0 1-8.458-4.22 3.961 3.961 0 0 0-.556 2.033c0 1.4.726 2.634 1.827 3.36a4.16 4.16 0 0 1-1.859-.506v.053c0 1.953 1.415 3.587 3.292 3.96a4.137 4.137 0 0 1-1.854.067 4.1 4.1 0 0 0 3.833 2.806 8.338 8.338 0 0 1-5.097 1.727c-.332 0-.657-.02-.98-.053A11.752 11.752 0 0 0 12.29 24c7.548 0 11.675-6.153 11.675-11.493 0-.174-.003-.347-.011-.52a8.287 8.287 0 0 0 2.047-2.094c-.736.32-1.526.54-2.357.634a4.028 4.028 0 0 0 1.805-2.234' fill='%23FFF'/%3E%3C/g%3E%3C/svg%3E"); }

.social-logo-facebook {
  background-color: #3B5998;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M18 26V16h2.969l.364-4h-3.178v-1.6c0-.78.519-.96.884-.96h2.243V6.013L18.192 6c-3.43 0-4.209 2.553-4.209 4.193V12H12v4h2v10h4z' fill='%23FFF'/%3E%3C/g%3E%3C/svg%3E"); }

.social-logo-email {
  background-color: #333;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M24.991 6.794l-2.714 16.287a.668.668 0 0 1-.34.477.65.65 0 0 1-.583.031l-4.803-1.961-2.566 3.128a.624.624 0 0 1-.52.244.573.573 0 0 1-.233-.043.665.665 0 0 1-.323-.249c-.081-.117 0-.223 0-.365v-3.888l9.04-11.063-11.035 9.625-4.489-1.535c-.261-.099-.403-.293-.424-.583-.014-.283.1-.491.34-.626L23.983 6.094a.649.649 0 0 1 .34-.095c.14 0 .532-.055.645.022.233.17.065.49.022.773z' fill='%23FFF'/%3E%3C/g%3E%3C/svg%3E"); }

.social-logo-32 {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  text-indent: 32px; }

.socialShare .title {
  margin: 0; }

.socialShare ul li {
  display: inline-block; }
  .socialShare ul li:not(:last-child) {
    margin-right: 8px; }

.socialShare input[type='url'] {
  font-size: 1em;
  width: 100%;
  border: 1px solid var(--extraLightGray);
  padding: 2px 8px;
  border-radius: 4px;
  margin-top: 1rem; }
  .socialShare input[type='url'], .socialShare input[type='url']:focus {
    outline: 0; }

.modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  max-width: 75rem;
  z-index: 2;
  padding-top: 4rem; }
  .modal-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 90%;
    overflow-y: auto;
    min-height: 10rem;
    max-height: 80%;
    margin: 0 auto;
    padding: 2rem;
    border: 2px solid var(--skyBlue);
    border-radius: 8px;
    transform: translateY(calc(-100% - 4rem));
    animation: slide-down 0.4s cubic-bezier(0.09, 0.57, 0.31, 1.2) forwards; }
    @media (min-width: 45rem) {
      .modal-inner {
        width: 60%; } }
    @media (min-height: 28rem) {
      .modal-inner {
        min-height: 18rem; } }
    .modal-inner.close {
      animation: slide-up 0.4s cubic-bezier(0.91, -0.35, 0.9, 1.04) forwards; }
  .modal-header {
    margin-bottom: 1rem; }

.btn-modal-close {
  position: absolute;
  font-size: 2em;
  border-color: transparent;
  right: 1rem;
  top: 1rem;
  padding: 0; }

[data-color-mode="light"] .modal {
  background-color: rgba(255, 255, 255, 0.8); }
  [data-color-mode="light"] .modal-inner {
    background-color: #fff; }

[data-color-mode="dark"] .modal {
  background-color: rgba(28, 29, 34, 0.9); }
  [data-color-mode="dark"] .modal-inner {
    background-color: #1c1d22; }

#paginate .pagination {
  padding: 0 3rem;
  margin: 2rem 0;
  list-style-type: none; }
  #paginate .pagination .page-item {
    display: inline-block; }
    #paginate .pagination .page-item:not(:last-of-type) {
      margin-right: 1rem; }
    #paginate .pagination .page-item a {
      cursor: pointer;
      color: var(--red);
      text-decoration: none; }
      #paginate .pagination .page-item a:hover {
        color: var(--darkerRed); }

.highlight .lntable .lntd:last-of-type {
  width: 100%; }

html[data-color-mode="dark"] .chroma .hl {
  background-color: rgba(142, 142, 145, 0.12); }

html[data-color-mode="light"] .chroma .hl {
  background-color: rgba(142, 142, 145, 0.12); }
