{{ $imageurl := printf "/%s-tag-logo.svg" .Name }}

<div class='postcard'>
    <div class="postcard_image">
        <a href="{{ .Permalink }}" class="no-decor display-block">
            <img src="{{ $imageurl }}" alt="Post image" loading="lazy">
        </a>
    </div>
    <div class="postcard_blurb">
        <div class="postcard_title">
            <a href="{{ .Permalink }}" class="no-decor">
                <h2 class="heading no-margin">{{ .Title }}</h2>
            </a>
        </div>
        <ul class="posttags no-list-style no-spacing clearfix">
        {{ range (.GetTerms "tags") }}
            <li class="posttag no-spacing">
                <a href="{{ .Permalink }}" class="posttag_link no-decor">
                    <svg class="posttag_icon">
                        <use xlink:href="#sprite-{{ lower .LinkTitle }}-logo"></use>
                    </svg>
                    <span class="posttag_title">#{{ lower .LinkTitle }}</span>
                </a>
            </li>
        {{ end }}
        </ul>
        <div class="postcard_description">
            <a href="{{ .Permalink }}" class="no-decor">
                <p class="no-margin">{{ .Description }}</p>
            </a>
        </div>
    </div>
</div>
