@keyframes slide-down {
  from {
    transform: translateY(-200%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-200%);
  }
}