[class^='btn-'] {
    display: block;
    font-size: 1em;
    color: currentColor;
    background-color: transparent;
    cursor: pointer;
    outline: 0;
    border-width: 1px;
    border-style: solid;
}
