.display-block {
    display: block;
}

.text {
    &-right {
        text-align: right;
    }

    &-center {
        text-align: center;
    }
}

.offset {
    padding: 1.5rem;

    &-top {
        padding-top: 1.5rem;
    }

    &-bottom {
        padding-bottom: 1.5rem;
    }
}

.archive li {
    font-size: 1.1em;
}

.hidden {
    display: none;
}

.no-overflow {
    overflow: hidden;
}

.no-decor {
    text-decoration: none;
}

.no-margin {
    margin: 0;
}

// floats
.clearfix {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}
