.no-list-style {
  list-style-type: none;
}

.postlist {
  padding: 0 2em;

  li {
    padding: .25em 1em;
    transition: margin .1s ease-out;

    a {
      text-decoration: none;
      font-weight: 700;
    }

    time {
      font-size: .65em;
      text-transform: uppercase;
      color: var(--lightGray);
    }

    &:hover {
      margin-left: 1em;

      a {
        color: var(--skyBlue);

        span {
          &:before {
            content: '⋙';
            margin-right: .5rem;
          }

          &:after {
            margin-left: .5rem;
            content: '✨'
          }
        }
      }
    }
  }
}