.btn {
  &-share {
    border-color: var(--extraLightGray);
    border-radius: 4px;
    margin-top: 1rem;
    padding: 2px 8px;

    &::before {
      content: '💾';
      margin-right: 4px;
      margin-left: -2px;
      font-size: .9em;
    }
  }

  &-share-on {
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
    border-radius: 4px;
    border-color: transparent;
  }
}

.social-logo {
  &-twitter {
    background-color: #1DA1F2;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M25.449 8.293a8.18 8.18 0 0 1-2.607.98A4.143 4.143 0 0 0 19.847 8c-2.265 0-4.102 1.807-4.102 4.04 0 .313.036.627.105.92a11.72 11.72 0 0 1-8.458-4.22 3.961 3.961 0 0 0-.556 2.033c0 1.4.726 2.634 1.827 3.36a4.16 4.16 0 0 1-1.859-.506v.053c0 1.953 1.415 3.587 3.292 3.96a4.137 4.137 0 0 1-1.854.067 4.1 4.1 0 0 0 3.833 2.806 8.338 8.338 0 0 1-5.097 1.727c-.332 0-.657-.02-.98-.053A11.752 11.752 0 0 0 12.29 24c7.548 0 11.675-6.153 11.675-11.493 0-.174-.003-.347-.011-.52a8.287 8.287 0 0 0 2.047-2.094c-.736.32-1.526.54-2.357.634a4.028 4.028 0 0 0 1.805-2.234' fill='%23FFF'/%3E%3C/g%3E%3C/svg%3E");
  }

  &-facebook {
    background-color: #3B5998;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M18 26V16h2.969l.364-4h-3.178v-1.6c0-.78.519-.96.884-.96h2.243V6.013L18.192 6c-3.43 0-4.209 2.553-4.209 4.193V12H12v4h2v10h4z' fill='%23FFF'/%3E%3C/g%3E%3C/svg%3E");
  }

  &-email {
    background-color: #333;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M24.991 6.794l-2.714 16.287a.668.668 0 0 1-.34.477.65.65 0 0 1-.583.031l-4.803-1.961-2.566 3.128a.624.624 0 0 1-.52.244.573.573 0 0 1-.233-.043.665.665 0 0 1-.323-.249c-.081-.117 0-.223 0-.365v-3.888l9.04-11.063-11.035 9.625-4.489-1.535c-.261-.099-.403-.293-.424-.583-.014-.283.1-.491.34-.626L23.983 6.094a.649.649 0 0 1 .34-.095c.14 0 .532-.055.645.022.233.17.065.49.022.773z' fill='%23FFF'/%3E%3C/g%3E%3C/svg%3E");
  }

  &-32 {
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    text-indent: 32px;
  }
}

.socialShare {
  .title { margin: 0; }
  
  ul {
    li {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 8px;
      }
    }
  }

  input[type='url'] {
    font-size: 1em;
    width: 100%;
    border: 1px solid var(--extraLightGray);
    padding: 2px 8px;
    border-radius: 4px;
    margin-top: 1rem;
    
    &, &:focus {
      outline: 0;
    }
  }
}