$red: crimson;
$darkerRed: #C30023;
$darkElectricBlue: hsl(197, 90%, 19%);
$electricBlue: hsl(197, 90%, 39%);
$extraLightElectricBlue: hsl(197, 90%, 69%);
$darkViolet: hsl(267, 53%, 41%);
$violet: hsl(267, 53%, 61%);
$extraLightViolet: hsl(267, 53%, 91%);
$skyBlue: #00A4EF;
$yellow: #FFB900;
$lightGray: #7b7b7b;
$extraLightGray: #cccccc;

:root {
  --red: #{$red};
  --darkerRed: #{$darkerRed};
  --darkViolet: #{$darkViolet};
  --violet: #{$violet};
  --extraLightViolet: #{$extraLightViolet};
  --electricBlue: #{$electricBlue};
  --extraLightElectricBlue: #{$extraLightElectricBlue};
  --darkElectricBlue: #{$darkElectricBlue};
  --skyBlue: #{$skyBlue};
  --yellow: #{$yellow};
  --lightGray: #{$lightGray};
  --extraLightGray: #{$extraLightGray}
}